@include media-md {
}
@include media-lg {
  .menu {
    visibility: hidden;
  }

  .nav,
  .socials {
    position: static !important;
    flex-direction: row !important;
    transform: translate(0) !important;
    background: rgba(transparent, 0) !important;
    height: 100% !important;
    width: auto !important;
    &__list {
      flex-direction: row !important;
      height: 100% !important;
      width: 50% !important;
      padding: 0 !important;

      &__item {
        padding: 0 !important;
        height: 100% !important;
        padding: 0 1.5rem !important;
      }
    }
  }

  .nav {
    flex: 1;
    padding-left: 2rem !important;
    width: 40% !important;
    z-index: 3;

    &__item {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .socials {
    @include flex(row);
    padding: 0 !important;
    width: 30% !important;
    justify-content: flex-end !important;

    &__list {
      padding: 0 !important;
      width: 100% !important;
      gap: 1.5rem !important;
      justify-content: flex-end !important;
      &__item {
        padding: 0 !important;
      }
    }
  }
  .header__showcase {
    width: 80% !important;
  }
  .showcase {
    width: 80% !important;
    margin: 1rem auto;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr repeat(2, 15%);

    &__latest-post {
      grid-column: 1 / 3;
      @include flex(column);
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__previous-post-container {
      grid-column: 1 / 3;
      @include flex(row);
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__previous-post {
      width: 49%;
    }
  }

  .sidebar {
    position: sticky;
    bottom: 0;
    left: 100%;
    width: 28%;
    height: 92vh;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
      background-color: rgb(42, 42, 42); /* color of the scroll thumb */
      border-radius: 5px; /* roundness of the scroll thumb */
    }

    &::-webkit-scrollbar {
      background-color: $secondary-color;
    }

    &::-webkit-scrollbar-track {
      background: $secondary-color;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &-text {
        @include flex(column);
        justify-content: center;
        align-items: flex-start;

        a {
          font-weight: weight(semi-bold);
          padding-bottom: 0.5rem;
        }

        h5 {
          font-weight: weight(regular);
        }
      }
    }
  }
}
@include media-xl {
}
