@import "config";
@import "header";
@import "variables";
@import "header";
@import "responsive";

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  background: $primary-color;
}
a {
  text-decoration: none;
}

.showcase {
  width: 90%;
  margin: 1rem auto;
}

.sidebar {
  &__content {
    padding: 0.5rem 0;

    &:hover {
      @include transform-hover;
    }
  }
  a {
    height: auto;
    width: 100%;

    p {
      height: auto;
      width: 100%;

      img {
        height: auto !important;
        width: 100% !important;
      }

      &:nth-child(1) {
        color: $primary-color;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: set-text-color($primary-color);
  }
}

.main {
  &__latest-post {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      padding-bottom: 1rem;

      a {
        font-weight: weight(bold);
        font-size: 2.5rem;
        color: darken($secondary-color, 10%) !important;
      }
    }

    &:hover {
      cursor: pointer;
      @include transform-hover;
    }
  }

  &__author,
  &__graphics {
    font-size: 1rem;
    font-weight: weight(semi-bold);
  }

  &__author {
    margin: 1rem 0 0 0;
  }

  a {
    p {
      font-size: 1.2rem;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: set-text-color($primary-color);
  }

  a {
    height: auto;
    width: 100%;

    p {
      height: auto;
      width: 100%;

      img {
        height: auto !important;
        width: 100% !important;
      }
    }
  }

  &__previous-post-container {
    padding-top: 2rem;
  }

  &__previous-post {
    margin: 0.5rem 0;

    &:hover {
      cursor: pointer;
      @include transform-hover;
    }
  }
}

.read-more {
  color: $secondary-color;
  font-weight: weight(bold);
}

.read-more:hover {
  color: lighten($secondary-color, 10%);
  font-weight: weight(bold);
}

footer {
  margin-top: auto;
  width: 100%;
  height: 50px;
  background-color: $secondary-color;
}
