{% extends 'touch/base.html' %}

{% block contents %}



    <!--Latest Post Start Here-->
         <div class="main">

            <div class="main__latest-post">
      
               <h5 class="main__latest-post__date">{{latest_post.publish|date:"F d, Y"}}</h5> 

                <!-- title -->
                <h4 class="main__latest-post__title"><a href="{{latest_post.get_absolute_url}}"> {{latest_post.title}}</a></h4>   
                <!-- title -->

                <a href="{{latest_post.get_absolute_url}}">{{latest_post.body|truncatewords_html:15|safe}}</a>
                 {% if latest_post.body|wordcount > 15 %}
                    <a style="text-decoration:none" href="{{latest_post.get_absolute_url}}"> <span class="read-more"> Read more</span> </a>
                {% endif %}
                <h5 class=main__latest-post__author>Written by {{latest_post.author}}</h5>
                <h5 class="main__latest-post__graphics">Graphics by {{latest_post.graphics}}</h5>
            </div>
        
    <!--Latest Post End Here-->
    
    
    
    <div class="main__previous-post-container">
    {% for post in object  %}

        <div class="main__previous-post">
            
                <h5 class="main__previous-post__date">{{post.publish|date:"F d, Y"}}</h5>
                
                <a class="main__previous-post__title" href="{{post.get_absolute_url}}">{{post.title}}</a>  

                <a href="{{post.get_absolute_url}}">{{post.body|truncatewords_html:15|safe}}</a>
                {% if post.body|wordcount > 15 %}
                    <a style="text-decoration:none" href="{{post.get_absolute_url}}"><span class="read-more"> Read more</span></a>
                {% endif %}


                <h5 class="main__previous-post__author">Written by {{post.author}}</h5>
                <h5 class="main__previous-post__graphics">Graphics by {{post.graphics}}</h5>
            
            
        </div>
    
    {% endfor %}
    </div>  
        
     </div>

    <!--Side Bar-->
    <h1>Side Bar</h1>
    {% for post in object2  %}

        <div class="container">
            <div class="col-md-6 border mt-3">
                {% comment %} <h5>published by {{post.author}} on {{post.publish|date:"F d, Y"}}</h5> {% endcomment %}
                
                <!--tag starts here-->
                {% for tag in post.tags.all %}
                    <a href="{% url "touch:tagged" tag.slug %}">tag: {{tag}}</a>
                    
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                        
                {% endfor %}
                <!--tag ends here-->
                
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>   
                <a href="{{post.get_absolute_url}}">{{post.body|truncatewords_html:15|safe}}</a>
                {% if post.body|wordcount > 15 %}
                    <a style="text-decoration:none" href="{{post.get_absolute_url}}">read more</a>
                {% endif %}
            </div>
        </div>
        
    {% endfor %}

{% endblock contents %}


