{% extends 'touch/base.html' %}

{% block contents %}
    <H1 id="home">Admin Login Page</H1>

    <form action="" method='POST'>{% csrf_token %}
        {% comment %} {{form|crispy}} {% endcomment %}

        <div class="input-group mb-3 mt-3">
            <input type="text" name="username" placeholder="Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="id_username">
        </div>

        <div class="input-group mb-3">
            <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password">
        </div>

        <button class="btn btn-block btn-outline-info mb-3" type="submit">Log In</button>
    </form>

{% endblock contents %}